@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

input {
  font-family: "Poppins", sans-serif;;
}

$color_code: #4f00c7;
$color_code_hover: #4e2092;

.content-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  .register-form-container {
    display: flex;
    justify-content: center;

    .register {
      position: absolute;
      top: 45%;
      left: 85%;
      transform: translate(-50%, -50%);
      width: 50%;
      display: grid;
      grid-template-columns: 1fr;
      z-index: 6;

      .register-form {
        padding: 61px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 500px;


        .register-form__title {
          margin-bottom: 20px;
        }

        .register-form__input-field {
          width: 100%;
          height: 55px;
          background-color: #f0f0f0;
          margin: 10px 0;
          border-radius: 55px;
          display: grid;
          grid-template-columns: 15% 85%;
          padding: 0 .6rem;

          

          .small-input {
              width: 300px;
          }

          .MuiSvgIcon-root {
            margin: 15px;
          }

          input {
            background: none;
            border: none;
            outline: none;
            font-size: 1.1rem;
            margin-left: 20px;
          }

          select {
            width: 120px;
            background: none;
            border: none;
            outline: none;
            font-size: 1.1rem;
          }
          #university-select {
              width: 500px;
        }

          &::placeholder {
            font-weight: 600;
          }
        }

      }
    }
  }


}

.content-wrapper:before {
  content: '';
  position: absolute;
  width: 2000px;
  height: 2000px;
  background: linear-gradient(-45deg, $color_code, $color_code_hover);
  border-radius: 50%;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
}

@media (max-width: 1120px) {
    .content-wrapper {
        .register-form-container {
            .register {
                top: 50%;
                left: 75%;

                .register-form {
                    input::-webkit-input-placeholder{
                        font-size:12px;
                    }

                    .register-form__input-field {
                        select {
                            width: 300px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .panel-container{
      .panel {
        .content {
          position: absolute;
          left: 0;
          top: 10%;
        }

        img {
          margin-top: 300px;
          margin-left: -220px;
        }
      }
    }

    .content-wrapper:before {
      width: 630px;
      height: 1500px;
      right: 68%;
    }

    .content-wrapper .register-form-container .register .register-form {
      max-width: 225px;
    }

    
}


@media (max-width: 570px) {
.content-wrapper:before {
    background: transparent;
}
    .register-form-container {
        position: absolute;
        top: 800px;
    }

    .content-wrapper {
        position: absolute;
        overflow: visible;
    }

    .panel-container {
        position: absolute;
        .content {
          top: 10%;
          left: 25%;
        }
        img {
            display: none;
        }
    }

    .content-wrapper .register-form-container .register .register-form {
      margin-left: 40%;
      overflow: visible;
    }

    .content-wrapper .register-form-container .register .register-form .register-form__input-field #university-select, 
    .content-wrapper .register-form-container .register .register-form .register-form__input-field .small-input,
    .content-wrapper .register-form-container .register .register-form .register-form__input-field select {
      width: 220px;
    }

    .content-wrapper .register-form-container .register .register-form .register-form__title {
      font-size: 25px;
    }

    .col-md-6 .col-md-12 {
        width: 95%;
    }

    .btn-primary {
        width: 100px;
    }


}