
.navbar-custom {
	background-color: #fff;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 600 0.875rem/0.875rem "Raleway", sans-serif;
  transition: all 0.2s;
  margin: auto;

  .navbar-brand.logo-image img {
    width: 10.4375rem;
	  height: 2rem;
  }

  .navbar-brand.logo-text {
    font: 600 2rem/1.5rem "Raleway", sans-serif;
    color: #393939;
    text-decoration: none;
  }

  .nav-item {
    .nav-link {
      padding: 0.625rem 0.75rem 0.625rem 0.75rem;
      color: #393939;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        color: #fff;
        background-color: #4f00c7;
      }
    }
  }

  .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }
}




.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #393939;
	font-size: 2rem;
}

.no-login {
  display: flex;
}


