div.dashboard-wrapper {
  height: 100vh;
  padding: 61px 0 0 10px;

  .dashboard-content-wrapper {
    display: flex;
    height: 100%;

    #sidebar {
      border-right: 1px solid #808080;
      padding: 0 0 0 10px;
    }
    #feed {
      padding: 0 0 0 0;
      height: 100%;
      overflow: auto;
      background: #f8f8f8;
      position: relative;
    }
    #widgets {
      border-left: 1px solid #808080;
      height: 100%;
      overflow: scroll;
    }
  }
}