$color_code: #000000;
.sidebar {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  .sidebar-links {
    margin-top: 10px;
    a {
      color: black;
      &:visited {
        color: black;
      }
    }
  }

  .sidebar-footer {
    color: gray;
    p a {
      color: gray;
    }
  }
}
