footer.footer {
  background: #d7d7d7;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem 0;
  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin-bottom: 0;
      margin-left: 10px;
      padding-left: 1rem;
      border-left: #333333 2px solid;
      font-size: 1rem;
    }
  }
}