/*css resets*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

div.body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

/*.main-wrapper {*/
/*  padding: 61px 0 0 0;*/
/*}*/
